@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 mb-5">
    <h1 class="display-4 fw-bold">EventEase Management Portal</h1>
    <p class="lead text-muted">Centralized management for venues, events, and reservations.</p>
</div>

<!--Nav links-->
<div class="row">

    <!--Events-->
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-primary">
            <div class="card-body text-center p-4">
                <h5 class="card-title fw-bold fs-4">Manage Events</h5>
                <p class="card-text text-muted">Create, edit, and organize upcoming events.</p>
                
                <h2 class="text-primary my-4 fw-bold">
                    @ViewBag.TotalEvents <span class="fs-6 text-muted fw-normal">Total Events</span>
                </h2>
                
                <a asp-controller="Events" asp-action="Index" class="btn btn-primary w-100 py-2">Go to Events</a>
            </div>
        </div>
    </div>

    <!--Venues-->
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-warning">
            <div class="card-body text-center p-4">
                <h5 class="card-title fw-bold fs-4">Manage Venues</h5>
                <p class="card-text text-muted">Add, update, and review event locations.</p>
                <h2 class="text-warning my-4 fw-bold">
                    @ViewBag.TotalVenues <span class="fs-6 text-muted fw-normal">Total Venues</span>
                </h2>
                <a asp-controller="Venues" asp-action="Index" class="btn btn-warning text-dark w-100 py-2">Go to Venues</a>
            </div>
        </div>
    </div>

    <!--Bookings-->
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-success">
            <div class="card-body text-center p-4">
                <h5 class="card-title fw-bold fs-4">Manage Bookings</h5>
                <p class="card-text text-muted">Review and manage venue reservations.</p>
                
                <h2 class="text-success my-4 fw-bold">
                    @ViewBag.TotalBookings <span class="fs-6 text-muted fw-normal">Total Bookings</span>
                </h2>
                
                <a asp-controller="Bookings" asp-action="Index" class="btn btn-success w-100 py-2">Go to Bookings</a>
            </div>
        </div>
    </div>
</div>
