@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EventEase Mangement Portal</h1>
    <p>Welcome to the internal booking system. Use the navigation bar above to manage Venues, Events and Bookings..</p>
</div>

